<h1>This is a web page</h1>
<body>
  There is also additional static content in the body!
  OOOH, AAAAAH
  <%= link_to 'New Item', new_page_path %>
</body>

<% @pages.each do |page| %>
  <div>
    <h2><%= page.name %></h2>
    <br />
    <i><%= page.function %></i>
    <br />
    <p><%= page.description %></p>
    <br />
  </div>
<% end %>

